
<div class="jumbotron d-flex align-items-center background-winter my-0">
<div  class="container">
  <h1 class="display-4">{{heroHeading}}</h1>
  <p>{{heroText}}</p>
  <p ><a class="btn btn-outline-light btn-lg"  href ="{{heroBtnUrl}}" role="button">{{heroBtnText}}</a></p>
</div>
</div>

<div class="jumbotron d-flex align-items-center background-blue my-0">
<div  class="container">
  <h2 class="display-6 p-4">{{heroSecondHeading}}</h2>
  <hr class="line mb-2">
  <div class="row d-flex py-4">
  	<div class="col-3">
  		<i class="fa fa-building round"></i>
  		<p class="mt-4">{{accomodationHeading}}</p>
  		<p class="small">{{accomodationText}}</p>
  	</div>
  	<div class="col-3">
  		<i class="fa fa-plane round"></i>
  		<p class="mt-4">{{transpHeading}}</p>
  		<p class="small">{{transpText}}</p>
  	</div>
  	<div class="col-3">
  		<i class="fa fa-users round"></i>
  		<p class="mt-4">{{agentHeading}}</p>
  		<p class="small">{{agentText}}</p>
  	</div>
  	<div class="col-3">
  		<i class="fa fa-star round"></i>
  		<p class="mt-4">{{tripHeading}}</p>
  		<p class="small">{{tripText}}</p>
  	</div>
  </div>
</div>
</div>

